.App {
  text-align: center;
}
.App-header{

  font-family: "IM Fell French Canon SC";

}
*{
  font-family: "IM Fell French Canon SC";

}
.under-construction {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #89cff0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

a {
text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  /* filter: blur(1px); */
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 17px;
  text-decoration: none;
  justify-content: center;
  color: #000;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}


.window-control {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  margin: 2px;
  float: left;
  margin-top: 9px;
  margin-right: 5px;
  cursor: pointer;
}

.red {
  background-color: red;
  margin-left: 15px;
}

.yellow {
  background-color: #f2bc57;
}

.green {
  background-color: #6bb358;
}

.blue {
  background-color: #89cff0;
}

.darkblue {
  background-color: #535893;
}
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */


.callout-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: block;
  transition: all 0.25s ease-in;
  font-size: 20px;
}

#cw-color-change{
  color: wheat;
  background: #000000;
  
}

#cw-color-change :hover{
  background: whitesmoke;
  color: black;
  
}

#semi-link{
  color: blue;
}

