html,
body {
  background-color: #eeeeee;
  overflow-x: hidden;
  max-width: 100%;
}

* {
  font-family: "IM Fell French Canon SC";
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  // transition: all 0.5s ease-in;
  -webkit-user-select: none;
  transition: all 0.6s ease-in;

}

.intro-container {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  img {
    object-fit: cover;
    height: 600px;
    width: 600px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: calc(30px + 2vmin);
    color: #eee;
    transition: all 1s ease-in;

    .greeting {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3 {
        background-color: #000;
        margin: 0px;
      }
      h2 {
        background-color: green($color: #000000);
        margin: 0px;
      }
    }
  }
}

// header ----------------------

.header-container {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    // position: fixed;
    top: 0;
    width: 100%;
    /* filter: blur(1px); */
    li {
      float: right;
    }
    li a {
      display: block;

      text-align: center;
      padding: 8px 17px;
      text-decoration: none;
      justify-content: center;
      color: #000;
      letter-spacing: 0.1rem;
      font-size: 0.8rem;
    }
  }
}
.window-control {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  margin: 2px;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
  cursor: pointer;
}

.red {
  background-color: #505c69;
  margin-left: 15px;
}

.yellow {
  background-color: #231648;
}

.green {
  background-color: #3e9795;
}

.blue {
  background-color: #015958;
}

.darkblue {
  background-color: #023535;
  // background-color: #535893;
}

.callout-wrapper {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  transition: all 0.25s ease-in;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  // flex-wrap: wrap;

  .get-qoute-container {
    flex: 1;
    // font-family: "Roboto";
    width: 300px;
    margin: 50px;
    // padding-bottom: -10px ;
    margin-top: 10px;
    color: white;

    form {
      margin: 0px;
      input {
        font-size: 15px;
        padding: 10px;
        width: 200px;
        border: 1px solid grey;

        border-bottom: 1px solid #757575;
        margin-bottom: 10px;
        &:focus {
          outline: none;
        }
      }
      button {
        text-align: center;
        padding: 10px;

        width: 221px;
        align-self: center;
      }
    }
    // confirm-email{
    //   // align-items: center;
    //   text-align: center;
    // }
  }
  .footer-socials {
    flex: 5;
    font-size: 20px;
    text-align: center;
    // display: block;
  }
  .blender-hook {
    // text-align: right;
    margin-bottom: -180px;
    font-size: 120%;
    margin-right: 20px;
  }
}

.cw-color-change {
  background: #000000;

  .secondary-header-font {
    color: whitesmoke;
  }

  svg {
    color: white;
    transition: all 1s ease-in;
  }
}
// @mixin hover-supported {
//   @media not all and (pointer: coarse) {
//     &:hover {
//       .cw-color-change :hover {
//         background: whitesmoke;

//         .secondary-header-font {
//           color: #000;
//         }
//         svg {
//           color: black;
//           transition: all 1s ease-in;
//         }
//       }
//     }
//   }
// }

/* .svg-logo-footer {
  color: white;
} */

.pimage-container {
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: "center";
  visibility: "inherit";
  z-index: 20;
  display: flex;
  justify-content: flex-end;

  .item {
    margin-right: 30px;
    width: 30vw;
    height: 500px;
    background-position: center;
    background-size: 75vh;
    // border-radius: 3vw;
    cursor: pointer;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      margin-top: 0px;
      text-align: center;
      font-size: 30px;
    }
    h3 {
      margin-top: -20px;
      margin-left: 12px;
    }
    .discription {
      margin: -20px 12px 20px 12px;
      line-height: 1.5;
      font-size: 20px;
    }
    .btn-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      button {
        /* appearance: none; */

        background-color: white;
        border: 0px;
        box-sizing: border-box;
        padding: 16px 24px;
        transition: all 0.2s linear;
        user-select: none;
        touch-action: manipulation;

        &:hover {
          color: #fff;
          background-color: #1a1a1a;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        }
      }
    }
  }

  .pimage-slider {
    width: 900px;
    height: 500px;

    flex: 2;
    // border-radius: 45px;
    background: url("https://gladisandco.com/wp-content/uploads/2018/12/t9.jpg");
    background-size: cover;
    margin: 30px;
    animation: slide 10s infinite;
  }
}

@keyframes slide {
  25% {
    background: url("https://gladisandco.com/wp-content/uploads/2022/03/Westwood-1-scaled.jpg");
    background-size: cover;
  }
  /* 
  50% {
      background: url(../images/4.jpg);
      background-size: cover;
  }

  75% {

      background: url(../images/4.jpg);
      background-size: cover;
  }

 100% {
      background: url(../images/4.jpg);
      background-size: cover;
  } */
}
.resume-btn {
  width: 92px;
  height: 27px;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.01), 4px 4px 5px 0px rgba(0, 0, 0, 0.01);
  outline: none;
  border: none;
  padding-top: 6px;
  margin-top: -6px;
  color: #000;

  .logo {
    flex: 1;
  }
  .logo :hover {
    transform: translateY(-8px);
    transition: all 1s ease-in;
  }
  .resume-text {
    flex: 3;
  }
}

.header-container {
  ul {
    // font-weight: 1000;
    padding-top: 5px;
    // margin-top: 5px;
    li {
      a {
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
        color: white;
        &:hover {
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.slide {
  background-color: #eeeeee;
  margin: 0px;
  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    // background-color: #eeeeee;
  }
}

.switch {
  width: 80px;
  height: 4px;
  border-radius: 27px;
  background-image: linear-gradient(298deg, var(--red), var(--yellow));
  position: fixed;
  right: 50px;
  top: 75px;
  display: block;
  text-align: center;
  opacity: 1;
  z-index: 33333;
  transition: all 300ms linear;

  .circle {
    cursor: pointer;
    top: 50%;
    transform: translateY(1100%);
    left: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25),
      0 0 0 1px rgba(26, 53, 71, 0.07);
    animation: border-transform 10s linear infinite alternate forwards;

    svg {
      margin: 10px;
      height: 20px;
      width: 20px;
    }
    &:hover {
      box-shadow: 0 8px 8px rgba(26, 53, 71, 0.25),
        0 0 0 1px rgba(26, 53, 71, 0.07);
    }
  }
}

// About page -----------------------------

.about {
  margin-bottom: 20px;

  p {
    line-height: 1.5;
    margin: 2rem 2rem;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
  }
}

// Project page ------

/* List */
.projects-container {
  h1 {
    margin-top: 12px;
  }
  .project-list {
    margin-left: -35px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    ul {
      counter-reset: index;
      max-width: 500px;
      padding-bottom: 15px;
      li {
        font-size: 1.5rem;
        counter-increment: index;
        display: flex;
        // align-items: center;
        // padding: 12px 0;
        box-sizing: border-box;
      }

      /* Element counter */
      li::before {
        content: counters(index, ".", decimal-leading-zero);
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        min-width: 50px;
        padding-right: 12px;
        font-variant-numeric: tabular-nums;
        align-self: flex-start;
        background-image: linear-gradient(
          to bottom,
          aquamarine,
          rgb(255, 166, 0)
        );
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      // li::after {
      //   content: counters(index, ".", decimal-leading-zero);
      //   font-size: 1.5rem;
      //   text-align: center;
      //   font-weight: bold;
      //   min-width: 50px;
      //   padding-left: 12px;
      //   font-variant-numeric: tabular-nums;
      //   align-self: flex-start;
      //   background-color: #000;
      //   -webkit-background-clip: text;
      // }
      // /* Element separation */
      // li + li {
      //   border-top: 1px solid rgba(0, 0, 0, 0.2);
      // }
    }
  }
  /* List element */
}

// Blender Work

.blender {
  background-color: #eeeeee;
  .header-blender-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;

      // math-depth: ;
      li {
        animation-duration: 30ms;
        margin: 20px;
        a {
          text-decoration: none;
          color: black;
          transition: all 0.2s ease-in;

          &:hover {
            color: grey;
          }
        }
      }
    }
  }

  .header-blender-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: "center";

    img {
      // width: 900px;
      // height: 500px;
      width: 70%;
      height: 70%;
      // border-radius: 48px;
      border-radius: 8vh;
      background-size: cover;
      margin-bottom: 10%;

      transition: all 0.1s ease-out;
      // &:hover {
      //   width: 905px;
      //   height: 503px;
      //   box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, 0.5),
      //     7px 7px 7px 0px rgba(0, 0, 0, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
      //   transition: all 0.3s ease-in;
      // }
    }
  }
}

@media only screen and (max-width: 450px) {
  .intro-container {
    flex-direction: column-reverse;

    img {
      height: 400px;
      width: 400px;
    }
  }
  .window-control {
    width: 20px;
    height: 25px;
  }

  .callout-wrapper {
    flex-direction: column;
    padding-bottom: 200px;

    .get-qoute-container {
      align-items: center;
      text-align: center;
      form {
        justify-content: center;
        align-items: center;

        input {
          font-size: 15px;
          width: 250px;
        }
        button {
          text-align: center;
          width: 272px;
        }
      }
    }
    .footer-socials {
      font-size: 15px;
    }
    .blender-hook {
      padding-top: 10px;
      text-align: center;
      align-items: center;
      margin-right: 0px;
    }
  }

  #Glimse {
    display: none;
  }

  .header-container {
    .tab {
      display: none;
    }

    .resume-btn {
      width: 100px;
      height: 35px;
      border-radius: 20px;
      padding-top: 10px;
      margin-top: -6px;

      .logo {
        flex: 1;
      }
      .resume-text {
        flex: 3;
      }
    }
  }

  .projects-container {
    margin: 10px;
    h1 {
      margin-top: 12px;
    }
  }

  /* List */
  .projects-container {
    h1 {
      margin-top: 12px;
    }
    .project-list {
      margin-left: -35px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      ul {
        // max-width: 500px;
        li {
          // align-items: center;
          // padding: 12px 0;
        }
      }
    }
    /* List element */
  }
  .blender {
    .header-blender-container {
      ul {
        display: none;
      }
    }
  }

  .header-blender-image-container {
    margin: 10px;
    img {
      width: 95% !important;
      height: 95% !important;
      // border-radius: 48px;
      border-radius: 4vh !important;
    }
  }


  .switch {
    width: 80px;
    height: 4px;
    right: 0.01%;
    top: 75px;
    margin-right: -30px;
    display: block;
    text-align: center;
  
    .circle {
      top: 50%;
      left: -5px;
      width: 40px;
      height: 40px;
      background-color: white;
  
      svg {
        // margin: 10px;
        // height: 20px;
        // width: 20px;
        // background-color: #000;
      }

    }
  }
}
